/*  G E N E R A L  S E T T I N G S  */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: white;
  line-height: 1.4;
}

a:visited,
a:link {
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
}

a:active,
a:hover,
a:focus {
  border-bottom: 1px solid #C0CE00;
}

h3 { text-align: center; }

p {}

div {
  /*border: 1px dotted grey;*/
}


/*  I C O N S  */

.icon { text-decoration: none; }

.icon:hover {

}

.icon::before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  padding: 10px;
}

.icon-home::before {
  content: "\f015";
}

.icon-camera::before {
  content: "\f03d";
}

.icon-refs::before {
  content: "\f108";
}

.icon-about::before {
  content: "\f05a";
}

.icon-contact::before {
  content: "\f095";
}

.icon-xing::before {
  content: "\f168";
}

.icon-facebook::before {
  content: "\f09a";
}

.icon-twitter::before {
  content: "\f099";
}

.icon-google::before {
  content: "\f0d5";
}


/*  R E S P O N S I V E  C O N T A I N E R S  */

#main-wrapper {
  min-height: 100vh;
}

.container {}

.navbar {
  position: fixed;
  width: 100%;
  height: 50px;
  text-align: center;
  top: 20px;
}

.row {}


/*  N A V B A R  */

.inner-container { height: inherit; }

.inner-container .navbar { height: inherit; }

.navbar-nav {
  margin:0;
  padding: 0;
  list-style: none;
}

.navbar-nav .active {
  color: #C0CE00;
}

.navbar-nav li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

.navbar-nav li a:active,
.navbar-nav li a:hover,
.navbar-nav li a:focus {
  color: #C0CE00;
  border: none;
}

.navbar li .external {
  font-style: italic;
}


/*  L A N D I N G  P A G E  */

.title {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/landing-page-min.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px;
  height: 50vh;
}

.site-name,
.slogon {
  font-weight: 300;
  position: relative;
  top: 50%;
  transform: translateY(-100%);
}

.slogon { font-weight: 300; }


/*  C O N T E N T  */

.content {}

.part {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('img/stand-for-min.jpg');
  background-size: cover;
  background-position: center;
  padding: 30px;
  height: 50vh;
}

.part:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('img/development-min.jpg');
}

.part:nth-child(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('img/marketing-min.jpg');
}

.part:nth-child(4) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('img/agentur-entwicklerraum-min.jpg');
}


/*  F O O T E R  */

.footer-wrapper {
  background-color: #373737;
  text-align: center;
  padding: 10px;
 }

.social-buttons {}

.social-buttons a:active,
.social-buttons a:hover,
.social-buttons a:focus {
  border-bottom: none;
  color: #C0CE00;
}

#tm-copyright {}
