/*  G E N E R A L  S E T T I N G S  */
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";

body {
  margin: 0;
  padding: 0;
}

a:visited,
a:link {
  text-decoration: none;
}

a:active,
a:hover,
a:focus {}

h3 {}

p {}


/*  R E S P O N S I V E  C O N T A I N E R S  */

#main-wrapper {}

.container {}

.navbar {}

.row {}


/*  I C O N S  */

.icon {}

.icon::before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.icon-home::before {
  content: "\f015";
}

.icon-camera::before {
  content: "\f03d";
}

.icon-refs::before {
  content: "\f108";
}

.icon-about::before {
  content: "\f05a";
}

.icon-contact::before {
  content: "\f095";
}

.icon-xing::before {
  content: "\f168";
}

.icon-facebook::before {
  content: "\f09a";
}

.icon-twitter::before {
  content: "\f099";
}

.icon-google::before {
  content: "\f0d5";
}


/*  N A V B A R  */

.inner-container {}

.inner-container .navbar {}

.navbar-nav {
  margin:0;
  padding: 0;
  list-style: none;
}

.navbar-nav .active {}

.navbar-nav li {
  list-style: none;
  display: inline;
}

.navbar li .external {}


/*  L A N D I N G  P A G E  */

.title {}

.site-name {}

.slogon {}


/*  C O N T E N T  */

.content {}

.part {}


/*  F O O T E R  */

.footer-wrapper {}

.social-buttons {}

#tm-copyright {}
